<body>
    <section >
        <img src="/assets/images/Landview.jpg" id=stars>
       <h1 id="tex">Welcome To </h1>
        <h2 id="text">Idea-Note</h2>
        <a href="/register" id="btn">Get Started To Register </a>
   
    </section>
    <div class="sec">
        <h2>About Us</h2>
        <p>Welcome to IdeaNote - your ultimate digital assistant for staying organized and productive!
            <br>
            At IdeaNote, we're passionate about helping individuals and teams manage their tasks, notes, and schedules efficiently. Our mission is to provide intuitive and powerful tools that streamline workflows, boost productivity, and enhance collaboration.
            <br>
            With IdeaNote, you can create, and organize tasks effortlessly. Take notes, track your progress with ease. 
            <br>
            Whether you're a student, professional, or busy parent, IdeaNote is your go-to solution for staying on top of your busy life. 
        </p>
    </div>
</body>
<app-footer></app-footer>